{% load static %}
<li>
    <article class="post">
      <a href="">
        <img src="{% static "blog/images/devops.png" %}" alt="DevOps"/>
        <div class="post__content">
          <h3>What is DevOps?</h3>
          <p>
            DevOps is the combination of cultural philosophies, practices, and tools that increases an organization’s ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
          </p>
        </div>
      </a>
    </article>
</li>